<%= render "partials/nav"%>
<div class="container">
  <h1>Editar envío</h1>

  <%= render 'form', shipping: @shipping %>

  <%= link_to 'Ver', @shipping, class:"tableButton"  %> |
  <%= link_to 'Atrás', shippings_path, class:"tableButton"  %>

</div>
