<%= render "partials/nav"%>
<div class="container">
  <h1>Editar Método de Pago</h1>

  <%= render 'form', payment_method: @payment_method %>

  <%= link_to 'Ver', @payment_method, class:"tableButton"  %> |
  <%= link_to 'Atrás', payment_methods_path, class:"tableButton"  %>

</div>
