<%= render "partials/nav"%>
<div class="container">
  <h1>Editar Recolección</h1>

  <%= render 'form', pick_up: @pick_up %>

  <%= link_to 'Ver', @pick_up, class:"tableButton" %> |
  <%= link_to 'Atrás', pick_ups_path, class:"tableButton" %>

</div>
