<%= render "partials/nav"%>
<div class="container">
    <div class="row">
      <div class="col">
        <h1>Nueva Recolección</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= render 'form', pick_up: @pick_up %><br>
        <%= link_to 'Atrás', pick_ups_path, class:"tableButton"  %>
      </div>
    </div>
</div>
