<%= render "partials/nav"%><h1>Editing Role</h1>
<div class="container">
  <h1>Editar Status</h1>

  <%= render 'form', status: @status %>

  <%= link_to 'Ver', @status, class:"tableButton" %> |
  <%= link_to 'Atrás', statuses_path, class:"tableButton" %>

</div>
