<%= render "partials/nav"%>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Nueva Información Fiscal</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'form', billing_information: @billing_information %>

      <%= link_to 'Back', billing_informations_path, class:"tableButton" %>
    </div>
  </div>
</div>
