<%= render "partials/nav"%>
<div class="container">
  <h1>Editar Estado</h1>

  <%= render 'form', state: @state %>

  <%= link_to 'Ver', @state, class:"tableButton" %> |
  <%= link_to 'Atrás', states_path, class:"tableButton" %>

</div>
