<!-- >
<nav class="nav bg-light">
    <li class="nav-item">
        <%= link_to "Inicio", root_path, class:"nav-link" %>
    </li>
</nav>
<!-- -->
<%= render "partials/nav"%>
<h1 class="text-center title">PACKAGE DELIVERY SYSTEM</h1>

<div class="container1">
    <div class="deliveryButton">
        <button type="button" name="buttonDelivery" class="btn">
        Entregar
        </button>
    </div>

    <div class="registryButton">
        <button type="button" name="buttonRegistry" class="btn">Registrar</button>
    </div>

    <div class="doneButton">
        <button type="button" name="buttonDone" class="btn" >Realizados</button>
    </div>
</div>

<div class="container2">
    <div class="importButton">
        <button type="button" name="buttonImport"class="btn" >Importar</button>
    </div>

    <div class="exportButton">
        <button type="button" name="buttonExport" class="btn">Exportar</button>
    </div>

    <div class="inventaryButton">
        <button type="button" name="buttonInventary" class="btn">Inventario</button>
    </div>
</div>
