<%= render "partials/nav"%>
<div class="container">
  <h1>Editar Carga</h1>

  <%= render 'form', load: @load %>

  <%= link_to 'Ver', @load, class:"tableButton" %> |
  <%= link_to 'Atrás', loads_path, class:"tableButton"  %>

</div>
