<%= render "partials/nav"%>
<div class="container">
  <h1>Editar Información de envío</h1>

  <%= render 'form', shipping_information: @shipping_information %>

  <%= link_to 'Ver', @shipping_information, class:"tableButton" %> |
  <%= link_to 'Atrás', shipping_informations_path, class:"tableButton" %>

</div>
