<%= render "partials/nav"%>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Nueva información de envío</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'form', shipping_information: @shipping_information %>
      <br>
      <%= link_to 'Atrás', shipping_informations_path, class:"tableButton" %>
    </div>
  </div>
</div>
