<%= render "partials/nav"%>
<div class="container">
  <h1>Editar Dirección</h1>

  <%= render 'form', address: @address %>

  <%= link_to 'Ver', @address, class:"tableButton" %> |
  <%= link_to 'Atrás', addresses_path, class:"tableButton" %>

</div>
