<%= render "partials/nav"%>
<div class="container">
  <h1>Editar Sucursal</h1>

  <%= render 'form', branch_office: @branch_office %>

  <%= link_to 'Ver', @branch_office, class:"tableButton" %> |
  <%= link_to 'Atrás', branch_offices_path, class:"tableButton" %>

</div>
