<%= render "partials/nav"%>
<div class="container">
  <h1>Editar Ciudad</h1>

  <%= render 'form', city: @city %>

  <%= link_to 'Ver', @city, class:"tableButton" %> |
  <%= link_to 'Atrás', cities_path, class:"tableButton" %>

</div>
